In [ ]:
Date--- 30/7/2025

In [ ]:
name="renuka"
degree="BCA"
print("this is my name",name," and My degree is",degree )
print(name)
print(degree)
print("Hello World")
x,y=5,10.5
print(x)
print(y)
print(type(x))

this is my name renuka  and My degree is BCA
renuka
BCA
Hello World
5
10.5
<class 'int'>

Basic syntax rules

python is case sensitive

In [ ]:
Name="renuu"
name="reenu"
print(Name,name)

renuu reenu

indentation matters

In [ ]:
if x > 0:
  print("x is positive")
  print("inside if block")

x is positive
inside if block

Variables and Datatypes

Numeric type

In [ ]:
age=20
height=5.5
complex_no=3 + 4j

String type

In [ ]:
name="Alice"
message="Good Evening"
multiline="""this is my pen"""

Boolean type

In [ ]:
is_active=True
is_finished=False

Type checking

In [ ]:
print(type(age))
print(type(height))

<class 'int'>
<class 'float'>

Type conversion

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)
print(f"original: {str_number} (type: {type(str_number)})")
print(f"integer: {int_number} (type: {type(int_number)})")
print(f"float: {float_number} (type: {type(float_number)})")

original: 123 (type: <class 'str'>)
integer: 123 (type: <class 'int'>)
float: 123.0 (type: <class 'float'>)

Personal information

In [ ]:
first_name= "Renuka"
last_name= "Mattikoti"
age=20
height=5.5
is_student=True

print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: Renuka Mattikoti
Age: 20
Height: 5.5 feet
Student: True

Type conversions

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 20
Height as integer: 5

Operators and Basic Operations

Arithmetic Operators

In [ ]:
a=10
b=3
print("addition:",(a+b))
print("subtraction:",(a-b))
print("multiplication:",(a*b))
print("division:",(a/b))
print("floor division:",(a//b))
print("modulus:",(a%b))
print("exponentiation:",(a**b))

addition: 13
subtraction: 7
multiplication: 30
division: 3.3333333333333335
floor division: 3
modulus: 1
exponentiation: 1000

Order of Operations(PEMDAS)
- P-Parenthesis
- E-Exponents
- M-Multipication
- D-Division
- A-Addition
- S-Subtraction

In [ ]:
result =2 + 3 * 4 ** 2 - 1
print(f"2 + 3 * 4 ** 2 - 1 ={result}")

2 + 3 * 4 ** 2 - 1 =49

Relational Operators or Comparision

In [ ]:
x=5
y=10
print( x== y) #equal to
print(x != y) #not equal to
print(x > y) #less than
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

String comparision

In [ ]:
name1 = "Alice"
name2 = "Bob"
print(f"'{name1}' < '{name2}':{name1 < name2}")

'Alice' < 'Bob':True

Logical Operators

In [ ]:
p = True
q = False
print(p and q)
print(p or q)
print(not p)

False
True
False

In [ ]:
# practical example
age= 20
has_license = True
can_drive = age >= 18 and has_license
print(f"can drive: {can_drive}")

can drive: True

In [ ]:
# multiple conditions
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f" can pass: {can_pass}")

 can pass: True

create a calculator that checks if a person qualifies for a loan

In [ ]:
# personal information
age = 20
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
# loan criteria
min_age = 18
min_income = 30000
min_credit_score = 650

In [ ]:
# check qualifications
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

Data structures

lists

creating list

In [ ]:
fruits = ["apple","banana","mango","pineapple"]
numbers = [10,90,80,60]
mixed_data = [1,"hello",3.14,True]

list indexing (O-based)

In [ ]:
print(f"first fruit: {fruits[0]}")
print(f"last fruit: {fruits[-1]}")
print(f"second to last : {fruits[-2]}")

first fruit: apple
last fruit: pineapple
second to last : mango

list slicing

In [ ]:
print(f"first 2nd fruit: {fruits[0:2]}")
print(f"last 2nd fruit: {fruits[-2]}")
print(f"all except first: {fruits[1]}")

first 2nd fruit: ['apple', 'banana']
last 2nd fruit: mango
all except first: banana

list methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"grape")
print(fruits)
removed = fruits.pop()
print(f"updated list: {fruits}")
print(f"removed: {removed}")

['apple', 'grape', 'banana', 'mango', 'pineapple', 'kiwi']
updated list: ['apple', 'grape', 'banana', 'mango', 'pineapple']
removed: kiwi

list operations

In [ ]:
print(f"length: {len(fruits)}")
print(f"contains 'apple': {'apple' in fruits}")
print(f"index of 'banana': {fruits.index('banana')}")

length: 5
contains 'apple': True
index of 'banana': 2

Tuples

tuples are immutable

In [ ]:
coordinates = (10,20)
rgb_color = (223,128,0)
person_info = ("Alice",25,"BCA",True)

tuple unpacking

In [ ]:
x, y = coordinates
print(f"X: {x}, Y: {y}")

X: 10, Y: 20

tuple methods

In [ ]:
print(f" count of 25: {person_info.count(25)}")
print(f" index of 'BCA': {person_info.index('BCA')}")

 count of 25: 1
 index of 'BCA': 2

why we use tuples?
- immutable(safe for dictionary keys)
- slightly faster  than lists
- good for fixed collections