In [ ]:
Date---31/7/2025

Dictionaries

Dictionary creation

In [ ]:
person = {
    "name": "Renu",
    "age": 20,
    "profession": "student",
    "salary": "nope",
    "skills": ["c++","javascript","python","SQL"]
}

Accessing values

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age','unknown')}")

Name: Renu
Age: 20

Dictionary methods

In [ ]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'profession', 'salary', 'skills']
Values: ['Renu', 20, 'student', 'nope', ['c++', 'javascript', 'python', 'SQL']]
Items: [('name', 'Renu'), ('age', 20), ('profession', 'student'), ('salary', 'nope'), ('skills', ['c++', 'javascript', 'python', 'SQL'])]

Adding/updating

In [ ]:
person["location"] = "Haveri"
person["salary"] = "nope"

Practical use case: Inventory management

In [ ]:
inventory ={
    "laptops": {
        "quantity": 50,
        "price": 999.99
    },
    "phones": {
        "quantity": 100,
        "price": 599.99
        },
    "tablets": {
        "quantity": 30,
        "price": 399.99
    }
}

Nested access

In [ ]:
print(f"Laptop price: ${inventory['laptops']['price']}")

Laptop price: $999.99

Sets

Sets contain unique elements

In [ ]:
colors = {"red","blue","black","red"}
print(f"Colors: {colors}")

Colors: {'blue', 'red', 'black'}

Set operations

In [ ]:
team1_skills = {"python","javascript","SQL","react"}
team2_skills = {"javascript","SQL","java","spring"}

Common operations

In [ ]:
print(f"Common skills: {team1_skills.intersection(team2_skills)}")
print(f"All skills: {team1_skills.union(team2_skills)}")
print(f"Team1 only: {team1_skills.difference(team2_skills)}")

Common skills: {'SQL', 'javascript'}
All skills: {'SQL', 'python', 'react', 'javascript', 'spring', 'java'}
Team1 only: {'python', 'react'}

Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(colors)
print(f"Updated colors: {colors}")

{'yellow', 'black', 'purple', 'blue', 'orange', 'red'}
Updated colors: {'yellow', 'black', 'purple', 'blue', 'orange', 'red'}

Control Flow

Conditional Statements

Basic if-else

In [ ]:
def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

In [ ]:
test_scores = [95,83,72,65,58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"Score {score}: Grade {grade}")

Score 95: Grade A
Score 83: Grade B
Score 72: Grade C
Score 65: Grade D
Score 58: Grade F

Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_count = 5.8

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_count + weight_cost + distance_cost

Test shipping costs

In [ ]:
print(f"Light, close: ${get_shipping_cost(0.5,50)}")
print(f"Heavy, far: ${get_shipping_cost(10,800)}")

Light, close: $8.8
Heavy, far: $22.8

Loops-For loop

Basic for loop

In [ ]:
fruits = ["apple","banana","grape","orange"]
for  fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like grape
I like orange

Loop with enumerate (get index)

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}. {fruit}")

1. apple
2. banana
3. grape
4. orange

Loop with range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

Nested loops-Creating a multiplication table

In [ ]:
print("Multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product = i*j
    print(f"{i} X {j} = {product:2d}",end=" ")
    print()

Multiplication table:
1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

Processing data with loops

In [ ]:
sales_data = [
    {"product": "laptop","price": 999, "quantity": 50},
    {"product": "phone","price": 599, "quantity": 100},
    {"product": "tablet","price": 399, "quantity": 30}
]

total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

  print(f"Total Revenue: ${total_revenue}")

laptop: $49950
Total Revenue: $49950
phone: $59900
Total Revenue: $109850
tablet: $11970
Total Revenue: $121820

Loops - While loop

While loop for user input simulation

In [ ]:
def simple_guessing_game():
  target = 7
  guess =0
  attempts = 0
  print("guess the number between 1 and 10")

  while guess != target:

    import random
    guess = random.randint(1,10)
    attempts += 1

    if guess < target:
      print(f"Guess {attempts}: {guess} - Too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} - Too high!")
    else:
      print(f"Guess {attempts}: {guess} - correct!")

      if attempts > 10:
        print("Max attempts reached!!")
        break

  print(f"Game finished in {attempts} atempts")

simple_guessing_game()

guess the number between 1 and 10
Guess 1: 3 - Too low!
Guess 2: 1 - Too low!
Guess 3: 9 - Too high!
Guess 4: 5 - Too low!
Guess 5: 2 - Too low!
Guess 6: 5 - Too low!
Guess 7: 7 - correct!
Game finished in 7 atempts

while loop for processinf

In [ ]:
def process_queue():
  queue = ["Task 1", "Task 2","Task 3","Task 4"]

  while queue:
    current_task = queue.pop(0)
    print(f"Processing: {current_task}")

    print(f"Remaining tasks: {len(queue)}")

  print("All tasks comleted!")

process_queue()

Processing: Task 1
Remaining tasks: 3
Processing: Task 2
Remaining tasks: 2
Processing: Task 3
Remaining tasks: 1
Processing: Task 4
Remaining tasks: 0
All tasks comleted!

Function basics

basic function definition

In [ ]:
def greet(name):
  return f"Hello,{name}!"

function call

In [ ]:
message = greet("renuka")
print(message)

Hello,renuka!

function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area = length * width
  return area

Test the function

In [ ]:
room_area = calculate_area(12,10)
print(f"room area: {room_area} square feet")

room area: 120 square feet

function with default parameters

In [ ]:
def create_user_profile(name,age = 20,location="unknown",active= True):
  return {
    "name": name,
    "age": age,
    "location": location,
    "active": active
}

Different ways to call

In [ ]:
profile1 = create_user_profile("Alice")
profile2 = create_user_profile("Bob",25)
profile3 = create_user_profile("Charlie",location="Delhi",age=30)
print(profile1)
print(profile2)
print(profile3)

{'name': 'Alice', 'age': 20, 'location': 'unknown', 'active': True}
{'name': 'Bob', 'age': 25, 'location': 'unknown', 'active': True}
{'name': 'Charlie', 'age': 30, 'location': 'Delhi', 'active': True}

Advanced function concepts

Function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" "," "))

  return word_count,char_count,char_count_no_spaces

Test with sample text

In [ ]:
sample_text ="python is a powerful programming language"

words,chars,chars_no_space =analyze_text(sample_text)

print(sample_text)
print(words)
print(chars)
print(chars_no_space)

python is a powerful programming language
6
41
41

variable-length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers) / len(numbers)

test with different numbers of arguments

In [ ]:
avg1 = calculate_average(10,20,30)
avg2 = calculate_average(5,15,25,35,45)
avg3 = calculate_average(100)

print(avg1)
print(avg2)
print(avg3)

20.0
25.0
100.0

Keyword arguments

In [ ]:
def create_report(**data):
  print("===REPORT===")

  for key, value in data.items():
    print(f"{key.replace('_',' ').title()}: {value}")

  print("=========")

create_report(
     title="monthly sales report",
     date="2025-01-01",
     total_sales=15000,
     new_customers=25,
     returning_customers=150
 )

===REPORT===
Title: monthly sales report
Date: 2025-01-01
Total Sales: 15000
New Customers: 25
Returning Customers: 150
=========

Lambda Functions

Lambda functions(anonymous functions)

Regular function

In [ ]:
def square(x):
  return x ** 2

Lambda Equivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function: {square(5)}")
print(f"lambda function: {square_lambda(5)}")

Regular function: 25
lambda function: 25

Lambda with multiple arguments

In [ ]:
multiply = lambda x,y: x * y
print(f"Multiply: {multiply(3,4)}")

Multiply: 12

Lambda with built-in functions

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x **2,numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

filtering with lambda

In [ ]:
ages = [18,35,12,27,76,64,23,14,]
adults = list(filter(lambda age: age >= 18, ages))
print(f"Adult ages: {adults}")

Adult ages: [18, 35, 27, 76, 64, 23]

Sorting with lambda

In [ ]:
people = [
    {"name": "Alice","age": 30},
    {"name": "Bob","age": 25},
    {"name": "Charlie","age": 35}
]
sorted_people = sorted(
    people,
    key=lambda person: person["age"])
print("people sorted by age:")


for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

people sorted by age:
Bob: 25
Alice: 30
Charlie: 35